.top-row {
    display:flex;
    justify-content: space-between;
}

.high-scores a {
    color: indigo;
}

.high-scores a:hover {
    color: purple;
}

.body {
    text-align: center;
}
.body p {
    width: 50%;
    margin: auto;
}

.body button {
    background-color: indigo;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    padding: 4px;
}

.body button:hover {
    background-color: purple;
}