.top-row {
    display:flex;
    justify-content: space-between;
}

.high-scores a {
    color: indigo;
    text-decoration: none;
}

.high-scores a:hover {
    color: purple;
}

.start-page {
    text-align: center;
}
.start-page p {
    width: 50%;
    margin: auto;
}

.start-page button {
    background-color: indigo;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    padding: 4px;
}

.start-page button:hover {
    background-color: purple;
}

.quiz-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.question-element {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin: 20px;

}

.option-element {
    list-style-type: decimal;
    color: white; 
    width: 50%;
    padding: 6px;
    margin: 2px;
    justify-content: center;
    background-color: indigo;
    border-radius: 4px;

}

.option-element:hover {
    background-color: purple;
}

.submit-message {
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}